@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "@radix-ui/themes/styles.css";

body {
    @apply bg-zinc-800 text-white ;
}




@theme {
    --font-inter: 'Inter', sans-serif;
}
